/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap");

/* UTILITIES */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: lato;
  margin: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #d01841;
  color: #fff;
}

.nav-links a {
  color: #fff;
}

/* LOGO */
.logo {
  font-size: 32px;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: #4c5055;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

/*RESPONSIVE NAVBAR MENU STARTS*/

/* CHECKBOX HACK */

input[type="checkbox"] {
  display: none;
}

/*HAMBURGER MENU*/
.hamburger {
  display: none;

  font-size: 24px;

  user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #d01841;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: #4c5055;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }

  .dropdown li:hover {
    background-color: #4c5055;
  }
}

/*Container 1 Stles*/
.container1 {
    height: 17rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 2000px;
  margin: auto;
}
/*Container 2 Stles*/
.container2 {
  height: 400px;
}
/*Container 3 Stles*/
.container3 {
  height: 700px;
  margin-top: 100px;
}

/*CARD STYLES*/

.card {
  position: relative;
  font-family: "Orbitron", sans-serif;
  max-width: 400px;
  border: 0.1rem rgba(255, 255, 255, 0.2) solid;
  border-radius: 2rem;
  position: relative;
  justify-content: center;
  width: 25rem;
  height: 15rem;
  overflow: hidden;
  margin-left: 25px;
  margin-right: 25px;
}

.card:hover .card-content {
  left: 0;
}

.card-content {
  position: absolute;
  width: 20rem;
  height: 80%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0px 25px 25px 0px;
  display: flex;
  left: -15.5rem;
  transition: left 0.8s ease;
  backdrop-filter: blur(10px);
}

.card-content::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: inherit;
  filter: blur(10px);
  border-radius: inherit;
}

.main-content {
  flex: 4.2;
  padding: 1rem;
  color: white;
  background-color: transparent;
  backdrop-filter: blur(10px);
  border-radius: 2rem 0 0 2rem;
}

p {
  font-family: "Poppins", sans-serif;
}

.main-title {
  padding: 0rem 0rem;
  letter-spacing: 2px;
}

.card-title {
  position: relative;
  flex: 1;
  text-align: center;
  display: flex;
}

.card-text {
  writing-mode: vertical-rl;
  font-size: 2rem;
  letter-spacing: 3px;
  position: relative;
  color: rgb(226, 226, 226);
  margin: 0;
}

.card-text::after {
  content: "";
  background: #333;
  width: 0.15rem;
  height: 20rem;
  position: absolute;
  top: 50%;
  left: -10%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}




.hover:hover {
  left: 0;
}

.container {
  display: flex;
  justify-content: space-between;
}

.left, .right {
  flex: 1;
}

/* Table styles */
  .container {
    display: flex;
    flex-direction: row;
  }
  
  .left {
    width: 60%;
    padding: 10px;
  }
  
  .right {
    width: 40%;
    padding: 10px;
  }
  
  .routes-table {
    border-collapse: collapse;
    margin: auto;
    width: 90%;
  }
  
  .routes-table th, .routes-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  
.no-routes {
    font-style: italic;
}


.subtitle {
font-size: 20px;
font-weight: 500;
text-align: center;
margin-bottom: 30px;
}

table {
width: 90%;
border-collapse: collapse;
background-color: white;
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
border-radius: 5px;
}

th,
td {
padding: 10px;
text-align: center;
}

th {
background-color: #d01841;
color: white;
font-size: 18px;
font-weight: 500;
}

tr:nth-child(even) {
background-color: #f2f2f2;
}

tr:hover {
background-color: #ddd;
}

.button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #d01841;
  border: none;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease-out;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  cursor: pointer;
}

.button:hover {
  background-color: #555;
}

.button:focus {
  outline: none;
}


/* Footer */
footer {
  background-color: #d01841;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
}

.footer-content {
  flex: 1;
  margin-right: 2rem;
}

.social-icons {
  display: flex;
}

.social-icons a {
  color: #fff;
  margin-right: 1rem;
}

.social-icons a:hover {
  color: #fff;
}

p {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

h3 {
  margin: 0 0 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  footer {
    flex-wrap: wrap;
    text-align: center;
  }

  .footer-content {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .social-icons {
    display: none;
  }
}